<% content_for :title do %>
  Edit a Resource
<% end %>

<div class="panel panel-default">
<div class="panel-heading"><h2 class="panel-title">Edit Resource <small><%= @upload.title %></small></h2></div>
<%= form_tag("/uploads/#{@upload.id}", method: :put, multipart: true, id: 'uploadForm') do %>
	<%= render file: :'/uploads/_edit' %>
<% end %>
</div>