<% content_for :title do %>
  Upload a Resource
<% end %>


<div class="panel panel-primary">
<div class="panel-heading"><h2 class="panel-title">Upload a Resource!</h2></div>
<%= form_tag({action: :create}, multipart: true, id: 'uploadForm', :"parsley-validate" => true, novalidate: true) do %>
  <%= render file: :'/uploads/_edit' %>
<% end %>
</div>