<% content_for :title do %>
  About Us
<% end %>

<div class="well">
	<p class="lead arial">What We Do</p>
	<p class="serif">Dear Educational Professional:</p>
	<p class="serif">Thanks for visiting our website. At EDesign Studios, LLC, we will provide you with quality, reviewed, and <i>Lesson Study</i> protocoled instructional materials.</p>
	<p class="serif">Upon your registration with us, you will have access to a library of instructional materials  that is continually growing. When you upload materials, other professionals can use these submissions to assist them in their classrooms.  In return, you get access to THEIR materials, and we will review the submissions so that you will be provided with the quality materials that you want. For example, all of our skillsheets have fully solved answer keys, and all of our Powerpoints® are interactive.  Educators across the country have told us “This is exactly what we have been waiting for!”</p>
	<p class="serif">So, thanks for enrolling, and let us know what you think.  With your input, this service will only get better and better.</p>
	<p class="serif">Sincerely,</p>
	<p class="serif">EDesign Studios, LLC</p>
</div>
<div class="well">
	<p class="lead">Who We Are</p>
	<div class="row">
	  <div class="col-md-2">
  		<%= image_tag "pictures/owner.jpg", class: "img-responsive" %>
  		<small><b>Alan Gnospelius</b></small>  	
	  </div>
	  <div style="" class="serif col-md-10">I've taught science for over 20 years and I hold a Masters Degree from Boston University in Instructional Design. <i>Teaching is a hard profession.</i> Like you, I have found less and less time in my day to develop quality educational materials. At EDesignStudios, LLC I have formed a network of caring teachers who are comfortable with sharing their materials. I can assure you that you will find a professional community of educators who want to improve their day-to-day classroom instruction. You will find a compendium of proven resources that I hope will fit your needs. So sign up, (the first six months are free), submit ten materials and enjoy our library!</div>
	</div>
</div>