<% content_for :title do %>
  Contact Us
<% end %>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Contact Us</div>
    <div class="panel-body">
      <p>If you got a <abbr title="In other words, a problem.">beef</abbr>, let us know. Seriously, contact us if you think we can improve the site or you have an issue with our service. We will get back to you ASAP.</p>
      <address itemscope itemtype="http://schema.org/Organization">
      <strong itemprop="name">Educational Design Studios</strong><br>
      <strong itemprop="legalName">EDesign Studios, LLC</strong><br>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">719 S. Saint Marys Street</span><br>
        <span itemprop="addressLocality">San Antonio, TX</span> <span itemprop="postalCode">78205</span>
      </div>
      <abbr title="Phone">P:</abbr> <span itemprop="telephone">(210) 201-6760</span><br>
      <strong>Email</strong> <a href="mailto:contact@educationaldesignstudios.com"><span itemprop="email">contact@educationaldesignstudios.com</span></a>
      </address>
    </div>
  </div>
</div>