<%# Home Page #%>

<% content_for :head do %>
  <meta name="google-site-verification" content="6fFvCVBJLc0DaFnzDl-TDTcYleHfFHKwNc9r1NTLlMU" />
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48971432-1', 'educationaldesignstudios.com');
  ga('send', 'pageview');
  </script>
<% end %>

<% content_for :title do %>
  Home
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7000" style="height: 500px;">
      <ol class="carousel-indicators">
        <!-- <div id="carousel-indicator-bck"></div> -->
        <li class="" data-slide-to="0" data-target="#myCarousel"></li>
        <li class="active" data-slide-to="1" data-target="#myCarousel"></li>
        <li class="" data-slide-to="2" data-target="#myCarousel"></li>
      </ol>
      <div class="carousel-inner" style="height: 500px;">
        <div class="item" style=" height: 500px;">
          <div class="carousel-caption carousel-caption-bck">
            <%= image_tag "pictures/home-slider_00.png", class: "img-responsive" %>
              <h1 class="inline-block serif"> <%#<span class="glyphicon glyphicon-circle-arrow-up"/>%>&nbsp;Store Your Files &amp; Get Them Later</h1>
              <p>
              Our goal at EDesign Studios LLC is to provide our members and subscribers with quality materials that are accessable at a moment's notice to make the teachers' job easier.
              </p>
              <p>
              <a class="btn btn-large btn-primary" href="/signup">Sign up today!</a>
              </p>
          </div>
        </div>
        <div class="item active" style="height: 500px;">
          <div class="carousel-caption carousel-caption-bck">
            <%= image_tag "pictures/home-slider_01.png", class: "img-responsive" %>
              <h1 class="serif">"Teachers Sharing Resources"<sup>&reg;</sup></h1>
              <p>
              Our goal at EDesign Studios LLC is to provide our members and subscribers with quality materials that are accessable at a moment's notice to make the teachers' job easier.
              </p>
              <p>
              <a class="btn btn-large btn-primary" href="/signup">Sign up today!</a>
              </p>
          </div>
        </div>
        <div class="item" style="height: 500px;">
          <div class="carousel-caption carousel-caption-bck">
            <%= image_tag "pictures/home-slider_02.png", class: "img-responsive" %>
              <h1 class="inline-block serif">Link--Upload--Teach<sup>&reg;</sup></h1>
              <p>
                It's as easy as 1, 2, 3. Register, Upload, Download.
              </p>
              <p>
              <a class="btn btn-large btn-primary" href="/signup">Sign up today!</a>
              </p>
          </div>
        </div>
      </div>
      <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>