<% content_for :title do %>
  Plans
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">How It Works</div>
  <div class="panel-body">
    <div class="col-md-6 col-sm-5">
      <p>This website is for writing tandem story</p>
        <p>Here are some rules!</p>
      <ol class="">
        <li>
          Don't write anything offensive towards the other author! Be respectful to your fellow friends and writers.
        </li>
        <li>
          Don't write anything that would hurt minor's eyes or minds.
        </li>
        <li>
          No hacking the website to change up the story and such.
        </li>
        <li>
          No writing ONLY the keywords in your part of the paragraph. Use the web app for what it's made for and incorporate your requirements creatively in the challenges!
        </li>
        <li class="inline-block">
          Share with other professionals!
        </li>
        <a href="/user/signup" class="btn btn-md btn-success pull-right inline-block">Join Us!</a>
      </ol>
    </div>
    <%= image_tag "pictures/home-slider_00.png", class: "img-responsive img-thumbnail col-md-6 col-sm-7" %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Pricing</div>
  <div class="panel-body">
    <p>In order to make this service work for you, we need to populate our library. Accordingly the service is free until <b>September 30, 2014</b>. If you sign up before that date you will be recognized as a <i>Pioneer Teacher</i> on our site.</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Available Actions<br><br></th>
          <th style="text-decoration:line-through;">Premium Member<br><br></th>
          <th style="text-decoration:line-through;">New Member<br><br></th>
          <th>Pioneer Teacher!<br><small>until: September 30, 2014</small></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Preview Materials</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Download Material</td>
          <td>Yes</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Upload Content</td>
          <td>Yes</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Post Reviews &amp; Feedback</td>
          <td>Yes</td>
          <td>No</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>
            Cost: Yearly
          </td>
          <td>
            $49.95
          </td>
          <td>
            $0.00
          </td>
          <td>
            $0.00
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%#
  <div class="left col-lg-2">
    <ul>
      <li>Previewing Materials</li>
      <li>Downloads?</li>
      <li></li>
      <li>Uploads?</li>
      <li>Reviews and Feedback</li>
      <li>Storage:
        <ul>
          <li>Public Storage</li>
          <li>Private Storage</li>
        </ul>
      </li>
      <li></li>
      <li>Cost:
        <ul>
          <li>Monthly</li>
          OR
          <li>Yearly</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-lg-1"></div>
  <div class="left col-lg-4">
    <h2>Member</h2>
    <ul>
      <li>Yes</li>
      <li>Yes</li>
      <li></li>
      <li>Yes</li>
      <li>
        <ul>
          <li>2,048MB</li>
          <li>1,024MB</li>
        </ul>
      </li>
      <li></li>
      <li>
        <ul>
          <li>$5.00</li>
          <li>$30.00</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-lg-1"></div>
  <div class="right col-lg-4">
    <h2>Free</h2>
    <ul>
      <li>Yes</li>
      <li>No</li>
      <li></li>
      <li>No</li>
      <li>
        <ul>
          <li>50MB</li>
          <li>0MB</li>
        </ul>
      </li>
      <li></li>
      <li>
        <ul>
          <li>$0.00</li>
          <li>$0.00</li>
        </ul>
      </li>
    </ul>
  </div>%>