<noscript>
      <style type="text/css">
        body > .container {
          display: none;
        }
        noscript {
          text-align: center;
        }
      </style>
      <div class="container">
        <h2>
          This browser either does not support JavaScript or does not have JavaScript enabled.
        </h2>
        <ul>
          <li>
            <p>Check your browser's settings and ensure that JavaScript is enabled.</p>

            <p>
              <a href="http://www.bom.gov.au/australia/radar/about/clickme.shtml">Click Here for More Info on Turning on JavaScript</a>
            </p>
          </li>
          <li>Try refreshing the page. Our site may be offline.</li>
          <li>
            <p>If you are running Windows Vista or below and are using internet explorer version 8 or less, upgrade your browser.</p>
            <p>If you are unsure of which browser you are using, <a href="http://whichbrowser.net/" target="_blank">Click Here.</a></p>
            <p class="lead text-success">Upgrade to a modern browser:</p>
            <ol>
              <li><a target="_blank" href="www.google.com/chrome/‎">Google Chrome</a></li>
              <li><a target="_blank" href="http://www.mozilla.org/en-US/firefox/new/‎">Firefox</a></li>
              <li><a target="_blank" href="http://www.opera.com/computer/">Opera</a></li>
              <li><a target="_blank" href="http://www.apple.com/safari/">Safari</a></li>
            </ol>
          </li>
          <li>
            <p>If all other things have failed, see above.</p>
          </li>
        </ul>
        <h3 class="text-alert"><a href="http://browsehappy.com/?locale=en">Browse Happily!</a></h3>
      </div>
    </noscript>